/**
 * Deafult styles
 */

/**
 * Example styles
 */

* {
	font-family: 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	color: #252525;
}

body {
	background: #f1f1f1;
}
h1 {
	font-size: 60px;
	margin-bottom: 20px;
}
p {
	font-size: 18px;
	margin-bottom: 20px;
}
hr {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #ddd;
	margin: 20px 0;
}

#content {
	margin: 40px 0;
}
#content .wrapper {
	margin: 0 auto;
	width: 800px;
	overflow: hidden;
}

section {
	margin-bottom: 20px;
}
label {
	display: block;
	margin-bottom: 10px;
}

.dress-select {
	background: #f6f6f6;
	background: linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -webkit-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -moz-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -o-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -ms-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.05 );
	display: inline-block;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 4px;
	position: relative;
	min-width: 140px;
}
.dress-select select {
	border: none;
	font-size: 18px;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.dress-select:before,
.dress-select:after {
	font-family: sans-serif;
	font-size: 8px;
	right: 10px;
	position: absolute;
	z-index: 1;
}
.dress-select:before {
	content: '\25B2';
	top: 7px;
}
.dress-select:after {
	content: '\25BC';
	top: 17px;
}
.dress-select .dress-value {
	display: block;
	overflow: hidden;
	margin: 8px 36px 8px 12px;
	white-space: nowrap;
}

.dress-checkbox {
	background: #f6f6f6;
	background: linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -webkit-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -moz-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -o-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -ms-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.05 );
	display: inline-block;
	height: 14px;
	margin-right: 4px;
	position: relative;
	width: 14px;
	vertical-align: top;
}
.dress-checkbox [type=checkbox] {
	border: none;
	font-size: 18px;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.dress-checkbox.dress-checked:after {
	content: '\2713';
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	left: 2px;
	position: absolute;
	top: -2px;
	z-index: 1;
}

.dress-radio {
	background: #f6f6f6;
	background: linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -webkit-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -moz-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -o-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	background: -ms-linear-gradient( top, #fdfdfd 0%, #f0f0f0 100% );
	border: 1px solid #ccc;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.05 );
	display: inline-block;
	height: 14px;
	margin-right: 4px;
	position: relative;
	width: 14px;
	vertical-align: top;
}
.dress-radio [type=radio] {
	border: none;
	font-size: 18px;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.dress-radio.dress-checked:after {
	content: '\7';
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	left: 2px;
	position: absolute;
	top: -2px;
	z-index: 1;
}

